*{
    box-sizing: border-box;
}

.box{
    border: 4px solid lightgray;
    width: 100px;
    height: 100px;
}

.box-small{
    width: 50px;
    height: 50px;
    margin-left: 24px;
}

.box-wrapper{
    display: flex;
    align-items: center;
}


.container{
    border: 4px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 10px;
}

.container-2{
    border: 4px solid lightgray;
    padding: 24px 24px 0px 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    max-width: 600px;
}

.title{
    border: 2px solid lightgray;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box-2{
    border: 4px solid lightgray;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}

.box-2-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-3{
    border: 4px solid lightgray;
    padding: 24px 24px 0px 24px;
    margin-bottom: 10px;
    display: flex;
}

.big-box{
    width: 50%;
    margin-bottom: 24px;
    height: 200px;
}

.box-3{
    border: 4px solid lightgray;
    height: 50px;
    margin-bottom: 24px;
}

.box-wrapper-3{
    width: 50%;
    padding-right: 24px;
}

.box-tiny-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box-tiny{
    width: 30%;
    height: 50px;
}

.row-4{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

